[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
